@use 'sass:math'; // Import the math module

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    color: #ee242c;
  }
}

// @for $i from 1 through 35 {
//   .text-animate._#{$i} {
//     animation-delay: #{$i / 10}s; /* Old depreciated division formula*/
//   }
// }

// Using math.div():
@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{math.div($i, 10)}s;
    // Interpolate to ensure correct usage
  }
}

// // Using calc():
// @for $i from 1 through 35 {
//   .text-animate._#{$i} {
//     animation-delay: calc(#{$i} / 10) s; // Ensure no space before 's'
//   }
// }
